<h1 class="header-center">Search for Apps</h1>
<form class="form-center" action="/search" method="get">
  <div class="form-group">
    <input type="text" placeholder="search app here" required="true" name="searchQuery" value="">
  </div>
  <button type="submit">Submit</button>
</form>
