<h1 class="header-center">Search for Apps</h1>
<form class="form-center" action="/search" method="get">
  <div class="form-group">
    <input type="text" placeholder="search app here" required="true" name="searchQuery" value="">
  </div>
  <div class="form-group">
    <select name="numberPerPage">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
  </div>
  <input type="hidden" name="offSet" value="0">
  <button type="submit">Submit</button>
</form>
